<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--The viewport meta tag is used to improve the presentation and behavior of the samples
      on iOS devices-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />

    <title>NYC DOTMAP PORTAL</title>
	<link rel="stylesheet" type="text/css" href="http://serverapi.arcgisonline.com/jsapi/arcgis/2.1/js/dojo/dijit/themes/claro/claro.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<script>
		//document.write("<link rel='stylesheet' type='text/css' href='http://"+"dotgisiis01"+"/arcgis_js_api/library/2.1/arcgis/js/dojo/dijit/themes/claro/claro.css'>");
		
	</script>
  
	 <style type="text/css">
  
      .zoominIcon { background-image:url(images/nav_zoomin.png); width:16px; height:16px; }
      .zoomoutIcon { background-image:url(images/nav_zoomout.png); width:16px; height:16px; }
      .zoomfullextIcon { background-image:url(images/nav_fullextent.png); width:16px; height:16px; }
      .zoomprevIcon { background-image:url(images/nav_previous.png); width:16px; height:16px; }
      .zoomnextIcon { background-image:url(images/nav_next.png); width:16px; height:16px; }
      .panIcon { background-image:url(images/nav_pan.png); width:16px; height:16px; }
      .deactivateIcon { background-image:url(images/nav_decline.png); width:16px; height:16px; }
    
	</style>
	
<!--
 <script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script>
 
	-->
   <style>
	
      html, body { height: 100%; width:100%; margin: 0; padding: 0px;overflow:hidden;visibility: hidden;background-color:rgb(75,72,70); }

      #rightPane{
        width:27%;
      }
	  
      #legendPane{
        border: solid #97DCF2 1px;
      }
	  
      #header {
        border: solid 1px  rgb(75,72,70); 
        background-color:rgb(75,72,70); color:white; font-size:16pt;
        text-align:left; font-weight:bold; height:35px;
		
		font-family:sans-serif, Arial, Times New Roman, Georgia, Helvetica, sans-serif;
      }
      
      .addressBoxClass   /* added with new geocoder 3/03/2013 */
		{
		width: 95%  !important;
		margin-left:auto  !important;
		margin-right:auto  !important;
	
		}
	  .addyClass /* added with new geocoder 3/03/2013 */
		{
		font-size: 14px !important;
		font-weight: bold; 
		font-style: normal !important;
		}


	  
	  
	  #map{
		overflow:hidden;
		background-color:rgb(75,72,70);
	  
	  }
	  
	  /* set title font properties */

      .infowindow .window .top .right .user .titlebar .title {font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12pt; }

      /* set content font properties */

      .infowindow .window .top .right .user .content { background-color:white; font-size:10pt; }
	  
	  .alpha60 {
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(255, 255, 255);
		/* RGBa with 0.6 opacity */
		background: rgba(255, 255, 255, 0.6);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	 }
	 
	.dijitToolbarCustomized {
		 
		 
		background-position:0 0;
		background-repeat:repeat-x;
	 
		padding:2px 0 2px 4px;
	}

	#navToolbar td{
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin:0 0px 0 0px;
		height:23px;
		width:25px;
		text-align:center;
		border:1px solid MediumSeaGreen;
		background-image:url('images/dotgreen_alpha.png');
	  
	}
	
	#navToolbar {
		margin:2px 20px;
		 width:175px;
		 height:23px;
		table-layout: fixed;
		
	}
	.idTable td{
		padding: 2px 3px 2px 0px;
	
	}
	
	#links a {
		 color:white;
		 text-decoration: none;
	}
    </style>

	<!--[if IE]>

   <style type="text/css">

   .color-block {
       background:transparent;
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000050,endColorstr=#99000050);
       zoom: 1;
    } 

    </style>

	<![endif]-->
	<!--
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27029135-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>-->


    <script type="text/javascript">var djConfig = {parseOnLoad: true};</script>
	<!--<script type="text/javascript" src="http://dotdevgisiis01/arcgis_js_api/library/2.1/arcgis/Default.ashx"></script>-->
	<script type="text/javascript">
		// fix for https://bugs.dojotoolkit.org/ticket/17400 //cpal 
!document.firstChild.children && (document.firstChild.children = true);
		</script>
	<script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.8"></script>
		
	<script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.10.custom.min.js"></script>

	<script type="text/javascript" src="js/measurementTool.js"></script>
	<script type="text/javascript" src="js/general.js"></script>
    <script type="text/javascript" src="js/identifyTask.js"></script>
	<script type="text/javascript" src="js/printing.js"></script>
	<script type="text/javascript" src="js/TOC_legend.js"></script>

	<script type="text/javascript" src="js/DOTProjectIdentifyTask.js"></script>
    <script type="text/javascript" src="js/DOTNetworkIdentifyTask.js"></script>
	<script type="text/javascript" src="js/EMIdentifyTask.js"></script>
	<script type="text/javascript" src="js/OpenPotholesIdentifyTask.js"></script>
	<script type="text/javascript" src="js/AdminBoundariesIdentifyTask.js"></script>	 
	<script type="text/javascript" src="js/StreetManagementIdentifyTask.js"></script>	 
	<script type="text/javascript" src="js/dataPMIdentifyTask.js"></script>
	<script type="text/javascript" src="js/UtilityRoadworkIdentifyTask.js"></script>
	
	<script type="text/javascript" src="js/layerOptions.js"></script>
	<script type="text/javascript" src="js/mapportalFieldDef.js"></script>
	<script type="text/javascript" src="js/dotmapconfig.js"></script>
	
	<script type="text/javascript" src="js/json2.js"></script>
	<script type="text/javascript" src="js/facebox/facebox.js"></script>
	<link href="js/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
	
	<link rel="stylesheet" href="js/jquery_treeview/jquery.treeview.css" />
	<link rel="stylesheet" href="js/css/cupertino/jquery-ui-1.8.10.custom.css" />
	
	<script src="js/jquery_treeview/jquery.treeview.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="js/raphael-min.js"></script>
	
	<!--<script src="http://maps.google.com/maps/api/js?libraries=geometry,geocoder&sensor=true" ></script>-->
	<script src="http://maps.googleapis.com/maps/api/js?client=gme-nycdeptoftransportation&v=3.18"></script>
	
	
	<!--
	<script type="text/javascript" src="js/jquery.jparallax.js"></script>
	
	<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
	-->
    <script type="text/javascript">
	
		dojo.require("dijit.layout.BorderContainer");
		dojo.require("dijit.layout.ContentPane");
		dojo.require("dijit.layout.AccordionContainer");
		dojo.require("dijit.layout.TabContainer");
		
		dojo.require("esri.map");
		dojo.require("esri.dijit.Legend");
		dojo.require("esri.arcgis.utils");
		dojo.require("dijit.Dialog");
		dojo.require("esri.toolbars.navigation");
		dojo.require("dijit.Toolbar");
		dojo.require("esri.dijit.Scalebar");
		dojo.require("esri.tasks.geometry");
		
      dojo.require("dojo.number");
      dojo.require("dijit.form.Button");
      dojo.require("dijit.form.Textarea");
     
//cpal
		dojo.require("esri.tasks.locator");
	
//cpal
		dojo.require("esri.tasks.query");
		
		//dojo.require("esri.layers.KMLLayer");
		
		var loadedContent = "";
		
		$(document).ready(function($) {
			$('a[rel*=facebox]').facebox();
			
			$.get("help.html",function(data){
				loadedContent = data });
		})	
		
	$(document).ready(function(){
	  /* Show the HTML page only after the js and css are completely loaded */
	  delayShow();
	});

		var map, navToolbar, drawbar, locator;
		
		//var layers;
		//var legendLayers = [];
		var initialScale = dotmapconfig.initialScale;
		var curServiceLoadingCount = 0;
		var mapServiceDomain = dotmapconfig.mapServiceDomain;
		var basemap, imageServiceLayer, streetLabel;
		var gsvc = null, address = ""; locContent = "";

		var infoTimer;
		var boroName, boroCode;
		 //cpal
	 var qsParm = new Array();
	 var locationQry;
	 var query ;
		var parms;
		var locGraphicsLyr = new esri.layers.GraphicsLayer();
	 //cpal
		
      function init() {
	  //cpal
	  
	   /////// new code for Google geocoder, added 3/3/2013 //////////////////////////////////////////////////////
	 geocoder = new google.maps.Geocoder(); 
	 //cpal : chnaged url for 10.1
	 gsvc = new esri.tasks.GeometryService("http://"+ mapServiceDomain + "/ArcGIS/rest/services/Utilities/Geometry/GeometryServer"); // new
	  
	 dojo.style(dijit.byId('matched').domNode, {
 			 	visibility:('hidden' ),
  				display: ('none')
		});
	  
//identify proxy page to use if the toJson payload to the geometry service is greater than 2000 characters.
        //If this null or not available the project and lengths operation will not work.  Otherwise it will do a http post to the proxy.
       // esri.config.defaults.io.proxyUrl = "http://nycdot.info/proxy/proxy.ashx";
		esri.config.defaults.io.proxyUrl = "http://"+dotmapconfig.domainName+"/proxy/proxy.ashx"; //cpal
       esri.config.defaults.io.alwaysUseProxy = false;

		//cpal
        var initialExtent = new esri.geometry.Extent({"xmin":-13133288.39092908,"ymin":4020012.2292398056,"xmax":-13016186.863596145,"ymax":4090945.791488476,"spatialReference":{"wkid":102100}});
		
		var initialExtent2 = new esri.geometry.Extent( {
			"xmin" : 971923.801444241, 
			"ymin" : 191961.477298875, 
			"xmax" : 990934.218110908, 
			"ymax" : 206076.060632208, 
			"spatialReference" : {
			  "wkid" : 2263
			}
		  });
		  
		var initExtent3 = new esri.geometry.Extent({
          "xmin":-13632252,
          "ymin":4547438,
          "xmax":-13630873,
          "ymax":4547917,
          "spatialReference":{"wkid":102100}
         });
		 //cpal:removed esri logo
        map = new esri.Map("map",{logo:false});
         
		//Basemap - basemap should be pointing to the respective domain by changing mapServiceDomain in the dotmapconfig.js
        //cpal
		//basemap  = new esri.layers.ArcGISTiledMapServiceLayer("http://"+ mapServiceDomain + "/ArcGIS/rest/services/GISAPP_GAZETTEER/NYCDOTBasemapTemplate/MapServer");
		//basemap  = new esri.layers.ArcGISTiledMapServiceLayer("http://"+ mapServiceDomain + "/ArcGIS/rest/services/GISAPP_GAZETTEER/NYCDOT_Basemap_2013/MapServer");
				//cpal change this
		basemap  = new esri.layers.ArcGISTiledMapServiceLayer("http://"+ mapServiceDomain + "/ArcGIS/rest/services/GISAPP_GAZETTEER/NYCDOT_Basemap_2013/MapServer");
		//		basemap  = new esri.layers.ArcGISTiledMapServiceLayer("http://nycdot.info/ArcGIS/rest/services/GISAPP_GAZETTEER/NYCDOT_Basemap_2013/MapServer");
		//basemap  = new esri.layers.ArcGISTiledMapServiceLayer("http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer");
		 
		setUpLayerLoadingEvent(basemap);
		
        map.addLayer(basemap);
		
		geometryService = new esri.tasks.GeometryService("http://"+ mapServiceDomain + "/ArcGIS/rest/services/Utilities/Geometry/GeometryServer");
        
		//cpal: adding locator
		//locator = new esri.tasks.Locator("http://tasks.arcgis.com/ArcGIS/rest/services/WorldLocator/GeocodeServer");
	//	locator = new esri.tasks.Locator("http://"+ mapServiceDomain + "/ArcGIS/rest/services/LION_Address_Locator/GeocodeServer"); //new locator
     //   dojo.connect(locator, "onAddressToLocationsComplete", showResults);
		
        map.addLayer(locGraphicsLyr);
		//cpal
		
		
		//setupOnMapExtent();
		/*
		var params = new esri.layers.ImageServiceParameters();
		params.noData = 0;
		
		//image service is only available on the production server
        imageServiceLayer  = new esri.layers.ArcGISImageServiceLayer("http://"+ "dotgisiis01" + "/ArcGIS/rest/services/Orthos2008/ImageServer", {
          imageServiceParameters: params,
		  id:"aerial"
        });
		
		setUpLayerLoadingEvent(imageServiceLayer);
			
		map.addLayer(imageServiceLayer);
 		
		imageServiceLayer.hide();
		*/
		
		//basemap.hide(); 
		 
		streetLabel = new esri.layers.ArcGISDynamicMapServiceLayer ("http://"+ mapServiceDomain + "/ArcGIS/rest/services/GISAPP_CAPITALPROJECTS/StreetLabel/MapServer",{id:'streetLabel'});
		map.addLayer(streetLabel);
		streetLabel.hide();
 
		initIdentifyTasks();
				
		navToolbar = new esri.toolbars.Navigation(map);
		drawbar = new esri.toolbars.Draw(map); 
		
		dojo.connect(drawbar, "onDrawEnd", addSelectionGraphic);
		
		var idtasks =[];
		
		$(mapServices).each(function(i,data){
		
			addLayerToMap(data);
			
			//if(data.mapType && data.mapType=="kml")eval(data.mapServiceName+".show()");	
		});
		

		checkCookie("nycdotmapdisclaimer");
		
		//setUpOnMapImageExportEvent(BRT);
		
		/*
		setUpLayerLoadingEvent(streetLabel);
		
		setUpLayerLoadingEvent(streetManagement);
		setUpLayerLoadingEvent(DOTProjects);
		
		setUpLayerLoadingEvent(networkRoutes);
		setUpLayerLoadingEvent(BRT);
		setUpLayerLoadingEvent(adminBound);
		
		setUpLayerLoadingEvent(snowRoute);
		
		map.addLayers([ adminBound,DOTProjects,snowRoute,networkRoutes, BRT, streetManagement]);
		
		*/
		
		//setUpOnLayerVisibleChange(BRT);
		
		//because some of the layers are turned on and are under a group layer, 
		//the code needs to turn on based on the default visibilty
		//dojo.connect(DOTProjects, "onLoad", buildLayerList);
		
        //map.addLayers([fireLayer,quakeLayer]);

		
        //dojo.connect(navToolbar, "onExtentHistoryChange", extentHistoryChangeHandler);
 
		buttonPressed('IdentifyTool');
		
		$("#map_root").css("background-color","rgb(210,232,255)");
		
		$("#navToolbar").css("background-color","transparent");

		$("#navToolbar").css("display","block");
		$("#navToolbar").css("position","absolute");
		$("#navToolbar").css("z-index","9999");
		 
		//$("#header_splitter").remove();
		 
		//initLayer();
 
		dojo.connect(map, 'onLoad', function(theMap) {
			//createMapTOCLegend();
          var scalebar = new esri.dijit.Scalebar({
            map: map,
            scalebarUnit:'english'
          });
		})
		
		dojo.connect(map, "onExtentChange", setTreeviewCheckbox);
		
		
		
		//dojo.connect(map, "onExtentChange", updateLayerCheckbox);		
		
		//map.setLevel(2);

        //Add links to toggle the visibility of the map services, turning the service off will also remove it from the legend.
       //       dojo.byId("toggle").innerHTML += "<A href=\"JavaScript:toggle('quakes')\">Earthquakes</A><br />";
       //   dojo.byId("toggle").innerHTML += "<A href=\"JavaScript:toggle('fire')\">Fire</A><br />";
        //resize the map when the browser resizes - view the 'Resizing and repositioning the map' section in
        //the following help topic for more details http://help.esri.com/EN/webapi/javascript/arcgis/help/jshelp_start.htm#jshelp/inside_guidelines.htm      
		
		//timedRefresh(5000);	
		
        var resizeTimer;
	
        dojo.connect(map, 'onLoad', function(theMap) {
		
			map.setLevel(1);
			attachLoadingImgEvent();
	 
			//$("#map_layers").jparallax();
				
			dojo.connect(dijit.byId('map'), 'resize', function() {  //resize the map if the div is resized
				clearTimeout(resizeTimer);
				resizeTimer = setTimeout( function() {
				  map.resize();
				  map.reposition();
			}, 500);
			});
			//cpal
		query = window.location.search.substring(1);
		parms = query.split('&');
		if (parms.length > 1){
		//dijit.byId('DOTProjects').selected=true;
		//alert(parms.length);
		//alert(dijit.byId('DOTProjects').title);
		qs();
		//mainTabContainer.selectChild(tab_search);
		}
		//else{
		//mainTabContainer.selectChild(DOTProjects);
		//alert(parms.length);
		//dijit.byId('tab_search').selected=true;
		//alert(dijit.byId('tab_search').title);
		//}
		//cpal
		});
		
		
		
		
		
		
		
		
      }
	
	//var mapServiceCount = 2;
	
	
	var disclaimertext = "<p> Some roads may currently appear on these maps without data assigned to them. NYCDOT is working to improve these datasets and our systems with the goal of displaying data related to all public roads and intersections. <p> The parking regulations information shown here was compiled by the New York City Department of Transportation in its STATUS system for governmental purposes. The information is updated as soon as reasonably practicable. The Department of Transportation and the City make no representation as to the accuracy of the information or its suitability for any purpose and disclaim any liability for omissions or errors that may be contained therein. The public is advised that parking regulations are subject to temporary or permanent change and that posted signage must be observed for compliance with laws and regulations."
	
		function qs() {
		
		//cpal:to handle query string for location search
		qsParm['street1'] = null;
		qsParm['street2'] = null;
		qsParm['borough'] = null;
	
		for (var i=0; i<parms.length; i++) {
		var pos = parms[i].indexOf('=');
		if (pos > 0) {
		var key = parms[i].substring(0,pos);
		var val = parms[i].substring(pos+1);
		qsParm[key] = val;
		}
		}
		//cpal
		if (qsParm['street1'] && qsParm['street2']&& qsParm['borough']){
			//alert('You selected ' + qsParm['street1'] + ' : ' + qsParm['street2']); 
			locationQry= qsParm['street1'].replace(/%20/g," ") + " and " + qsParm['street2'].replace(/%20/g," ") + " ,"+ qsParm['borough'] + ", NY";
			//alert(locationQry);
			//var tabs = dijit.byId("mainTabContainer");
		//var pane = dijit.byId("DOTProjects");
		//tabs.selectChild(pane);
		
			searchLocationQry();
			}
		else {
		
		
			}
        //cpal
		
		
		} 
	
	
	//cpal- added two functions for location search
	
	/*     function searchLocationQry() {
		 
       // map.graphics.clear();
	   hideGeocodeError();
       // var address = {"SingleLine":locationQry};
		//alert("inside searchLocationQry: " + locationQry);
		var address = {"Street":dojo.byId("address").value, "Zone": dojo.byId("searchBorough").value}; //new locator
		
       locator.outSpatialReference= map.spatialReference;

        var options = {
          address:address,
          outFields:["Loc_name"]
        }
        locator.addressToLocations(options);
      }

	    function searchLocation() {
       //cpal:cleat the graphics layer containing the location graphics
	   locGraphicsLyr.clear();
	  var address = {"Street":dojo.byId("address").value, "Zone": dojo.byId("searchBorough").value}; //new locator
      
       locator.outSpatialReference= map.spatialReference;
		
        var options = {
          address:address,
          outFields:["Loc_name"]
        }
        locator.addressToLocations(options);
     }  */
	function delayShow() {
	  var secs = 1000;
	  setTimeout('jQuery("body").css("visibility","visible");', secs);
	}

	  ///////////////////////////////// new geocoder ///////////////////////////////////////////////////////////
	function fireAddress() 
    {  // callback from buttonClick event
   
    	address = dojo.byId("address").value;
    	if (!address)
    	{
    		alert("Please enter a street address or intersection.");
    		return;
    	}

    	boroCode = dojo.byId("searchBorough").value;
    	
    	if (boroCode == 1)
   		{
   			alert("Please select a borough from the dropdown list.");
   			return;
   		}
   		if (address.indexOf(", NY")==-1 && address.indexOf(", ny")==-1 && address.indexOf(" NY")==-1 && address.indexOf(" ny")==-1
   			&& address.indexOf(",NY")==-1 && address.indexOf(",ny")==-1)
    	{  /* continue   */ }
    	else
    	{
    		alert("Please enter a street address only.  Search is limited to New York City.");
    		return;
    	}
    	
   		if (address && boroCode !=1)
   		{
   				codeAddress(address);
   		}

	
   	// $('#address').blur();
  // 	dojo.byId("searchBorough").innerHTML = "select Borough";

	}
  
											
    function codeAddress(address) 
    {
    switch(boroCode)
    {
    	
    	case "2": boroName = "Manhattan"; break;
    	case "3": boroName = "Bronx"; break;
    	case "4": boroName = "Brooklyn"; break;
    	case "5": boroName = "Queens"; break;
    	case "6": boroName = "Staten Island"; break;

    }
  
    var nycSW = new google.maps.LatLng(40.495265, -74.255759);
    var nycNE = new google.maps.LatLng(40.916107, -73.717627);
    var bounds = new google.maps.LatLngBounds(nycSW, nycNE);

    	address = address + ", " + boroName + ", NY";

    geocoder.geocode({
        'address': address,  // ', NY',         
        'bounds': bounds,
       // 'components': locality | 'New York'
        'region': 'US'
    }, function (results, status) {
    	
    		var route ="", street_num =""; county = ""; boro =""; site="";
    		var exactMatch = 0;
    		//var routeIndex =""; var streetNumIndex ="";
    		
    		if (status != google.maps.GeocoderStatus.OK) {alert("No matched location for this address in "+boroName+".");}
    		else {var test = results[0].formatted_address;}
    		
    		var loclength = results[0].address_components.length;
    		
    		for (var i=0; i<loclength; i++)
    		{
    			console.log("type at pos " + i + ": " + "\t " + results[0].address_components[i].types + "\t\tval: " +results[0].address_components[i].long_name );
    			var curString = results[0].address_components[i].types;

    			if (results[0].address_components[i].types == "route")
    			{
    				route = results[0].address_components[i].long_name;
    				
    			}
    			if (results[0].address_components[i].types == "street_number")
    			{
    				street_num  = results[0].address_components[i].long_name;
    			}//
    			if (results[0].address_components[i].types == "administrative_area_level_2,political")
    			{
    				county  = results[0].address_components[i].long_name;

    			}
    			if (results[0].address_components[i].types ==  "sublocality_level_1,sublocality,political")
    			{
    				boro  = results[0].address_components[i].long_name;

    			}
    			if (results[0].address_components[i].types == "subway_station,train_station,transit_station,establishment")
    			{
    				site  = results[0].address_components[i].long_name;

    			}
    			
    			
    			
    			else {continue;}  
    		}  
    		

         if (status == google.maps.GeocoderStatus.OK) {
         	
         	if ((results[0].geometry.location.lat() > 40.916107) || (results[0].geometry.location.lat() < 40.495265)
         	|| (results[0].geometry.location.lng() > -73.717627) || (results[0].geometry.location.lng() < -74.255759))
         	{
         		
         		alert ("Address is outside of NYC area. Please re-enter a local address or intersection.");
         		return;
         	}
         	if (route =="" && street_num == "" && site =="")
    		{
    			alert("Address not found.");
    			return;
    		}
         	if (county !="Richmond County" && county !="Queens County" && county !="New York County" && county !="Bronx County" && county != "Kings County")
           	{
         		//console.log("outside of NYC");
         		alert("No address match in " + boroName + ".");
         		return;
         	}
        	if (boroName != boro)
        	{
        		 console.log("boroName : " + boroName);
        		 console.log("boro: " + boro);
        		 alert("Address not found in " + boroName + ". Resubmit your entry, \nincluding road type (street, avenue etc.) and try again.");
        		return;
        	}

         	else
			{
				if (route  && route!=address)
				{
					var routeParse = route.split(" ");
					var loclL = routeParse.length; 
					for (var i =0; i<loclL; i++)
					{
						var lower = routeParse[i].toLowerCase(); var locAddy = address.toLowerCase();
						//console.log(lower + " ::: " + locAddy);
						if (lower == "street") {lower = "xxx";}
					if (locAddy.indexOf(lower) ==-1) { /* nothing */}
						else { exactMatch = 1; break;}
					}


				}

					if (exactMatch == 1) {
						showLocatorResults(results[0].geometry.location);
						dojo.byId("matchInfo").innerHTML = " Matched Address:";
						dojo.byId("matchedGeoCodeAddress").innerHTML = results[0].formatted_address;

						dojo.style(dijit.byId('matched').domNode, {
							visibility : ('visible' ),
							display : ('block'
							)
						});
					} else {
						showLocatorResults(results[0].geometry.location);
						dojo.byId("matchInfo").innerHTML = " No exact match. \nClosest Matched Address:";
						dojo.byId("matchedGeoCodeAddress").innerHTML = results[0].formatted_address;

						dojo.style(dijit.byId('matched').domNode, {
							visibility : ('visible' ),
							display : ('block')
						});
					}

			}
          //  toggleAddressBar();

        } else {
            alert("The address could not be validated, please try entering a different address.");
        }
    });
	}
    
 	/// adds graphic to located address or intersection
 	/// uncomment text code to add graphic label to map
    function showLocatorResults(candidate) 
    {
	    map.graphics.clear();
	    console.log("get here?");
	 //   var candidate;
        var symbol = new esri.symbol.SimpleMarkerSymbol();
       // var infoTemplate = new esri.InfoTemplate("Location", "Address: ${address}<br />Score: ${score}<br />Source locator: ${locatorName}");

        symbol.setStyle(esri.symbol.SimpleMarkerSymbol.STYLE_SQUARE);
        symbol.setColor(new dojo.Color([153, 0, 51, 0.75]));

        var graphic, newPoint;
		// new code for Google geocoder
		// connvert LatLong from Google locator to NAD NY/LI StatePlane coordinate system
        	  
        var lat = candidate.lat();
        var lng = candidate.lng();
        console.log (lat, lng);
        	  
        var pt = new esri.geometry.Point(lng, lat, new esri.SpatialReference({ wkid: 4326 }));
    	var nysp = new esri.SpatialReference({ wkid: 2263 });
    	gsvc.project([pt], nysp, function (projectedPoint) {
                var locX = projectedPoint[0].x;
                var locY = projectedPoint[0].y;
                
                console.log("projPoint : " + locX + "  " + locY);
                                    
               	newPoint = new esri.geometry.Point(locX, locY, nysp);
				console.log(newPoint);
               	graphic = new esri.Graphic(newPoint, symbol); 
                // add a graphic to the map at the geocoded location
                map.graphics.add(graphic);

                var attributes = { address: candidate.address, score: candidate.score, locatorName: candidate.Loc_name };
 
              //  graphic = new esri.Graphic(locPoint, symbol); //attributes
                // add a graphic to the map at the geocoded location
              //  map.graphics.add(graphic);
                //add a text symbol to the map listing the location of the matched address.
                var displayText = candidate.address;
                // var font = new esri.symbol.Font("16pt", esri.symbol.Font.STYLE_NORMAL, esri.symbol.Font.VARIANT_NORMAL, esri.symbol.Font.WEIGHT_BOLD, "Helvetica");
                // var textSymbol = new esri.symbol.TextSymbol(displayText, font, new dojo.Color("#666633"));
                // textSymbol.setOffset(0, 8);
                // map.graphics.add(new esri.Graphic(geom, textSymbol));
               // return false; //break out of loop after one candidate with score greater  than 80 is found.

       			var xmin = newPoint.x - .001;
        		var ymin = newPoint.y - .001;
        		var xmax = newPoint.x + .001;
        		var ymax = newPoint.y  + .001;  
        
        		var pointExtent = new esri.geometry.Extent(xmin, ymin, xmax, ymax, map.spatialReference);
				map.setExtent(pointExtent);
    			//}// do nothing
 
    		}); // end GSRV function
		
    } // end showLocatorResults
    
    
    ///////////// old ESRI locator disabled ///////////////////////////////////////////////////
    
   /*   function showResults(candidates) {
	 // alert(candidates.length);
        var candidate;
        var symbol = new esri.symbol.SimpleMarkerSymbol();
        var infoTemplate = new esri.InfoTemplate("Location", "Address: ${address}<br />Score: ${score}<br />Source locator: ${locatorName}");

        symbol.setStyle(esri.symbol.SimpleMarkerSymbol.STYLE_SQUARE);
        symbol.setColor(new dojo.Color([153,0,51,0.75]));

        var geom;
    
		 // alert(candidates.length);
        dojo.every(candidates,function(candidate){
          console.log(candidate.score);
		  //alert(candidate.address['Street'] + " , " + candidate.score);
		  
          if (candidate.score > 80) {
		  //cpal
		   
		  //cpal
            console.log(candidate.location);
            var attributes = { address: candidate.address, score:candidate.score, locatorName:candidate.attributes.Loc_name };   
            geom = candidate.location;
            var graphic = new esri.Graphic(geom, symbol, attributes, infoTemplate);
            //add a graphic to the map at the geocoded location
            //map.graphics.add(graphic);
			locGraphicsLyr.add(graphic);
            //add a text symbol to the map listing the location of the matched address.
         var matchAddr=candidate.address;
		 if (matchAddr.indexOf(",") >0){
		 var matchAddr1=matchAddr.substring(0,matchAddr.indexOf(","));
		 }else {
		 var matchAddr1=matchAddr;
		 }
			var displayText = matchAddr1 + ", NEW YORK, NY"; //new locator
            var font = new esri.symbol.Font("10pt",esri.symbol.Font.STYLE_NORMAL, esri.symbol.Font.VARIANT_NORMAL,esri.symbol.Font.WEIGHT_BOLD,"Helvetica");
           
            var textSymbol = new esri.symbol.TextSymbol(displayText,font,new dojo.Color("#666633"));
            textSymbol.setOffset(0,12);
			//cpal
			//Create graphics layer for counties
       
		locGraphicsLyr.add(new esri.Graphic(geom, textSymbol));
		//cpal
		
            //cpal commented:
			//map.graphics.add(new esri.Graphic(geom, textSymbol));
            return false; //break out of loop after one candidate with score greater  than 80 is found.
          }
        });
        if(geom !== undefined){
		hideGeocodeError();
          map.centerAndZoom(geom,9);
		  }else{
		  //cpal
		  //alert(candidates.length);
		  displayGeocodeError("Location not Found. Please try again.");
		  //document.getElementById("ErrorMsg").innerHTML="Location not Found. Please try again.";
		 // dojo.byId("ErrorMsg").InnerHtml="Location not Found. Please try again."
		  }
		  
		  //cpal:testing
		  //parkingRegLyr = 
		//esri.layers.DynamicMapServiceLayer = new
//esri.layers.ArcGISDynamicMapServiceLayer
//("http://"+ dotmapconfig.mapServiceDomain + "/ArcGIS/rest/services/GISAPP_STATUS/ParkingRegulations/MapServer",{id:'parkingReg'});
		//map.addLayer(parkingReg);
		//cpal
        

      }   */
	  
	  
	function dismissDisclaimer(){
		jQuery(document).trigger('close.facebox');
		
		setCookie("nycdotmapdisclaimer",true,365);
	}
		
	function setCookie(c_name,value,exdays)
	{
		var exdate=new Date();
		exdate.setDate(exdate.getDate() + exdays);
		var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		document.cookie=c_name + "=" + c_value;
	}

	function getCookie(c_name)
	{
	var i,x,y,ARRcookies=document.cookie.split(";");
	for (i=0;i<ARRcookies.length;i++)
	{
	  x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
	  y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
	  x=x.replace(/^\s+|\s+$/g,"");
	  if (x==c_name)
		{
		return unescape(y);
		}
	  }
	}
	
	function checkCookie(value){
		var username=getCookie(value);
		  if (username!=null && username!="")
		  {
				
		  }
		else
		  {
			jQuery.facebox("<div style='-moz-border-radius:10px;border-radius:10px;  background-color:rgb(210,234,255); border: 1px dotted rgb(210,234,255);padding:40px; margin: auto;height:400px;width:600px'><h1 style='color:red'><b>Disclaimer:</b></h1> <h2>"+disclaimertext +"</h2><p><div><input type='button' value=' OK ' onclick='dismissDisclaimer()'/></div></div>");
			
		}
	}	
	
	function initLayer(){
		//$("#networkRoutes_0").get(0).checked=false;
		$("#chkstreetAssessmentRating").get(0).checked=false;
		//$("#chknetworkRoutes").get(0).checked=false;
	} 
	  
       function toggle(id) {
        var layer = map.getLayer(id);
        if (layer.visible) {
			map.resize();
            layer.hide();
        } else {
			map.resize();
            layer.show();
        }
      }

    dojo.addOnLoad(init);
	  
	var visible = [];
		
	function buildLayerList(layer) {
		
		 alert(layer.url);
		 
        var infos = layer.layerInfos, info;
        var items = [];
		var list = "";
		
        for (var i=0, il=infos.length; i<il; i++) {
          info = infos[i];
          if (info.defaultVisibility) {
            visible.push(info.id);
          }
        }
	   
        layer.setVisibleLayers(visible);
        map.addLayer(layer);
      }

	  $(document).ready(function(){
			createMapTOCLegend();
			//initLayer();
		});
    </script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42567091-1', 'nycdot.info');
  ga('send', 'pageview');

</script>

  </head>
  
  <body class="claro" onload="">
    <div id="content" dojotype="dijit.layout.BorderContainer" design="headline" gutters="true" style=" width: 100%; height: 100%; margin: 0;">
	 <div id="header" dojotype="dijit.layout.ContentPane"
		style="margin-bottom:-5px; background-image:url('images/DOTMapGradient.png'); background-repeat:repeat-x;"  class="roundedCorners"   region="top" >
		
		<a href="http://www.nyc.gov/dot" target="_blank"  ><img  id="title_logo"
		src="images/DOTMap_metallic.png" style=" height:45px;border:0px;position:absolute; top:3px;left:0px; z-index:999; "></a>
	<div
  	style="color:white;  background-image:url('images/DOTMapGradient.png');background-repeat:repeat-x;width:500px;position:absolute; top:0px;right:0px; height:50px" >
	 <div id="links" style="font-size:13px;position:absolute;bottom:5px; right:10px; z-index:999;"> 
	<!--<a title="Open DOTMap Inventory"
	target="_blank" href="http://sharepoint/Finance2/CapitalMgmt/Lists/dotMAP%20Inventory/AllItems.aspx">DOTMap Inventory</a> 
	   | --> <a href="help.html" rel="facebox">Help</a>
	 </div>
	</div>
	
	  <form id="frmlayers" action="http://dotdevgisiis01/DOTMapPrinting/mapprint.aspx" style="display:none;"
	  method="post" target="_blank" >
          <textarea     id="layersJson" name="layersJson" value="" style="display:none;width:400px;height:400px" >
          </textarea> 
       </form>  
	
	<!--
	<img   
		src="images/dotbanner2.png" style="border:0px;position:absolute; top:0px; left:350px;  height:50px;z-index:10; "/> 
		<div style="position:absolute;left:80px;width:300px;z-index:1001;">NYC DOTMap Portal <span id="debugMsg"> </span></div>
		-->
      </div>
 
      <div id="rightPane" dojotype="dijit.layout.ContentPane" minSize="0"
	  region="right" style="border-color:rgb(34,96.146);  padding:0px" splitter="true">
	  
	  <div id="mainTabContainer" dojoType="dijit.layout.TabContainer">
		  
		<div id="tab_gis" dojoType="dijit.layout.ContentPane"
			 selected="true"	 title="GIS Layers" style="padding:0px;" >
 
		<div style="text-align:right; display:none;">Minimize TOC</div>
		 
        <div id="TOC" dojoType="dijit.layout.AccordionContainer" style=" height:100%">
		
		  <div dojoType="dijit.layout.ContentPane" id="adminBoundaries" title="Administrative Boundaries" >
		
               <div id="adminBoundariesDiv" >
			    <ul id="adminBoundariesLayers" class="treeview-famfamfam">
			    </ul>
              </div>
			  
		  </div>
			<!--
		   <div dojoType="dijit.layout.ContentPane" id="DataPerformanceMeasures" title="Data & Performance Measures" >
		    <div id="DataPerformanceMeasuresDiv" >
			     <ul id="DataPerformanceMeasuresLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
			-->
			<!--
			<div dojoType="dijit.layout.ContentPane" id="DemographicData" title="Demographic Data"   >
		    <div id="DemographicDataDiv" >
			     <ul id="DemographicDataLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
			-->
			
          <div dojoType="dijit.layout.ContentPane" id="DOTProjects" title="Show Additional Data on Map"  selected="true" >
		  
		  	<div id="BRTDiv" >
				<ul id="BRTLayers" class="treeview-famfamfam">
				</ul>
			  </div>
			  
			  <div id="parkingRegDiv" >
				<ul id="parkingRegLayers" class="treeview-famfamfam">
				</ul>
			  </div>
			  
			<div id="dotProjectsDiv" >
				<ul id="DOTProjectsLayers" class="treeview-famfamfam">
				 </ul>
				
			</div>
				
			
			<div id="ResurfacingProjectsDiv">
				<ul id="ResurfacingProjectsLayers" class="treeview-famfamfam">
				 </ul>
			</div>
			
			
			<div id="plannedResurfacingDiv">
				<ul id="PlannedResurfacingLayers" class="treeview-famfamfam">
				 </ul>
			</div>
			
			<div id="dotProjects_plazaDiv" >
				<ul id="PlazaLayers" class="treeview-famfamfam">
				 </ul>
			</div>
			
			<!--cpal  06-13-12-->
			<div id="capProjectsDiv" >
				<ul id="capProjectsLayers" class="treeview-famfamfam">
				 </ul>
				
			</div>
			
			<div id="ReconstructionDiv" >
				<ul id="ReconstructionLayers" class="treeview-famfamfam">
				</ul>
			  </div> 
			  
			  <div id="CitywideConcreteProgramDiv" >
					<ul id="CitywideConcreteProgramLayers" class="treeview-famfamfam">
					</ul>
			  </div>

		
			  </div>
			  <!--cpal  05-03-12-->
			  <div id="tab_search" dojoType="dijit.layout.ContentPane" title=" Location Search">
			   
		  	<div id="SearchPanel" dojoType="dijit.layout.ContentPane" style="padding:0px">
			<br/>
			
				 
					<!--<input type="text" id="address" size=30 value="55 Water St"/>
					
					<br/>
					<span style="color:gray;font-size:10px"> Please enter a street address or intersection: 123 Broadway OR Water St and Pearl St</span>
					 
				

				<p/><!-->
					<!--new Google geolocator, added 3/03/2013-->
					
		<b>Enter intersection or street address only:</b><br><br>
		<form method="GET" action="javascript:fireAddress(); return false;">
                <input type="search" name="address" id="address" class="addressBoxClass" value="" style="height:25px"; placeholder="Street address or intersection" />
                <input type="hidden" id="focusable" />
        </form><br>
        <small><i>(e.g. 55 Water Street or Water Street & Old Slip) </i><br></small><br>
		<select id="searchBorough" style="height:25px">		
						<option value="1">Select Borough</option>
						<option value="2">Manhattan</option>
						<option value="3">Bronx</option>
						<option value="4">Brooklyn</option>
						<option value="5">Queens</option>
						<option value="6">Staten Island</option>
		</select> 
				
        <button dojotype="dijit.form.Button" onclick="fireAddress()"> Locate</button> 
        <div dojotype="dijit.layout.ContentPane" class="matchClass" id="matched">
        	<img  id='redMarker' height='18' width='18' src='images/redMarker.png'><span id="matchInfo">  Matched Address</span><br><br>
          	<span id="matchedGeoCodeAddress" class="addyClass"></span>
        </div>
        
        <!-------------------- end new geolocator -------------------------------------------->
             
			<!--	<select id="searchBorough" >
						<option value="1">Manhattan</option>
						<option value="2">The Bronx</option>
						<option value="3">Brooklyn</option>
						<option value="4">Queens</option>
						<option value="5">Staten Island</option>
			</select> -->
				
				
				<!--<input type="button" value="search" onclick="searchLocation();"/>-->
				
				<div id="ErrorMsg" style="display:none;color:red;"></div>	
				
			</div>
			</div>
			  <!--cpal, 05-03-12-->
			  
			  
			  
            <!--    <input style="position:absolute;top:10px;float:left;" id="chkDOTProjects" type="checkbox"  checked="checked" onclick="toggle('DOTProjects')"/>
				<img style="margin-left:15px;" src="images/DOTProjects_Legend.jpg"/>
				-->
			<!--
			<div  dojoType="dijit.layout.ContentPane" id="DOTStudiesPotentialProjects" title="DOT Studies & Potential Projects"   >
				<div id="DOTStudiesPotentialProjectsDiv" >
			     <ul id="DOTStudiesPotentialProjectsLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
			-->
			<!--
			<div dojoType="dijit.layout.ContentPane" id="ExternalProjects" title="External Projects"   >
				<div id="ExternalProjectsDiv" >
			     <ul id="ExternalProjectsLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
			-->
			<!--
			<div dojoType="dijit.layout.ContentPane" id="LandUse" title="Land Use"   >
				<div id="LandUseDiv" >
			     <ul id="LandUseLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
			-->
			<!--
			<div dojoType="dijit.layout.ContentPane" id="ParkOpenSpace" title="Park & Open Space"   >
				<div id="ParkOpenSpaceDiv" >
			     <ul id="ParkOpenSpaceLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
			-->
			<!--
			<div dojoType="dijit.layout.ContentPane" id="StreetManagement" title="Street Management"   >
				<div id="StreetManagementDiv" >
			     <ul id="StreetManagementLayers" class="treeview-famfamfam">
				 </ul>
				  <ul id="StreetManagementLayers2" class="treeview-famfamfam">
				 </ul>
              </div>
			  
		  	</div>
			-->
			<!--
			<div dojoType="dijit.layout.ContentPane" id="StreetOperations" title="Street Operations"   >
				<div id="StreetOperationsDiv" >
			     <ul id="StreetOperationsLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
			-->
			<!--
		   <div dojoType="dijit.layout.ContentPane" id="NetworkRoutes" title="Transportation Network"   >
		    <div id="NetworkRoutesDiv" >
			     <ul id="NetworkRoutesLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
		
			<div dojoType="dijit.layout.ContentPane" id="ExternalProjects" title="External Projects"   >
				<div id="ExternalProjectsDiv" >
			     <ul id="ExternalProjectsLayers" class="treeview-famfamfam">
				 </ul>
              </div>
			  <div id="HPDProjectDiv" >
			     <ul id="HPDLayers" class="treeview-famfamfam">
				 </ul>
              </div>
			  <div id="HurricaneDiv" >
			     <ul id="HurricaneLayers" class="treeview-famfamfam">
				 </ul>
              </div>
			</div>
			-->
		<script>
			if(contentPanes!=undefined){
				$.each(contentPanes,function(key,data){
					if(key && data.title){
						document.write("<div dojoType='dijit.layout.ContentPane' id='"+key+"' title='"+data.title+"' >");
						
						$(data.sublayers).each(function(i,d){
							document.write("<div id='"+d+"Div' >");
							document.write("<ul id='"+d+"' class='treeview-famfamfam'>");
							document.write( "</ul></div>")
			 
						});
						document.write( "</div>");
					}
				});
			}
		</script>
			
		<!--
		<div dojoType="dijit.layout.ContentPane" id="ESRIsampleMap" title="ESRI Sample Layers"   >
		    <div id="ESRIsampleLayersDiv" >
			     <ul id="ESRIsampleLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>	
		
		 <div dojoType="dijit.layout.ContentPane" id="EmergencyManagement" title="Emergency Management"   >
		    <div id="EmergencyManagementDiv" >
			     <ul id="EmergencyManagementLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
		-->	
			<div dojoType="dijit.layout.ContentPane" id="IdentifiedResult" title="Identified Result"   >
		    <div id="IdentifiedResultDiv" >
			     Click on the map with left mouse button to identify map data. Go to Help for more information.
              </div>
		  	</div>
			
			<!--
			<div dojoType="dijit.layout.ContentPane" id="Hydrology" title="Hydrology"   >
				<div id="StreetOperationsDiv" >
			     <ul id="StreetOperationsLayers" class="treeview-famfamfam">
				 </ul>
              </div>
		  	</div>
		  -->
		  <!--
		  <div dojoType="dijit.layout.ContentPane" id="OpenPotholes" title="NYC Open Potholes"  >
		    <input style="position:absolute;top:10px;float:left;" id="chkOpenPotholes_0" type="checkbox"   onclick="toggle('openPotholes')"/>
			<img style="margin-left:15px;" src="images/Potholes_Legend.jpg"/>
			
			<ul id="OpenPotholesLayers" class="treeview-famfamfam">
				 </ul>
          </div>
		  -->
        </div>
      </div>
		<!--
	  <div id="tab_search" dojoType="dijit.layout.ContentPane"
			   title="Search Location"  >
			   
		  	<div id="SearchPanel" dojoType="dijit.layout.ContentPane" style="padding:0px">
			Search by: <select id="SearchBySelector" >
						<option value="intersection">Intersection</option>
						<option value="address">Address</option>
						<option value="bbl">BBL</option>
						</select>
				 	
				<div id="intersectionSearch" class="searchPanel">
				 
					<p/>
					Street 1: <input id="street1" type="text"> <br/>
					<span style="color:gray;font-size:10px"> e.g. wall st</span>
					  
					<p/>
					Street 2: <input id="street2" type="text">   
				 
				</div>

				<div id="addressSearch" style="display:none" class="searchPanel">
					 
					<p/>Address: <input id="searchAddress" type="text"> 
					
					<br/>
					<span style="color:gray;font-size:10px"> e.g. 123 broadway</span>
					 
				</div>

				<p/>
				Borough: 
				<select id="searchBorough" >
						<option value="Manhattan">Manhattan</option>
						<option value="Bronx">The Bronx</option>
						<option value="Brooklyn">Brooklyn</option>
						<option value="Queens">Queens</option>
						<option value="Staten Island">Staten Island</option>
				</select>
				
				<div id="bblSearch" style="display:none"  class="searchPanel">
				 
					<p/>
					Block: <input id="bbl_block" type="text"> <br/>
 
					<p/>
					Lot: &nbsp&nbsp <input id="bbl_lot" type="text">   
				 
				</div>
				
				<p/>
				<input type="button" value="search" onclick="searchLocation();"/>
				
				<div id="ErrorMsg" style="display:none;color:red;"></div>	
				
			</div>
			<script>
				$("#street1").keypress(function(event){
					if(event.keyCode ==13){
						searchLocation();
					}
				});
				$("#street2").keypress(function(event){
					if(event.keyCode ==13){
						searchLocation();
					}
				});
				$("#searchAddress").keypress(function(event){
					if(event.keyCode ==13){
						searchLocation();
					}
				});
				
				$("#bbl_block").keypress(function(event){
					if(event.keyCode ==13){
						searchLocation();
					}
				});
				$("#bbl_lot").keypress(function(event){
					if(event.keyCode ==13){
						searchLocation();
					}
				});
				
				$("#SearchBySelector").change(function(){
	 
					$(".searchPanel").css("display","none");
					$("#"+$("#SearchBySelector").val() + "Search").css("display","block");
					hideGeocodeError();
	  
				});
			</script>
 
		  </div>
		  -->
	 </div>
	</div>
      <div id="map" dojotype="dijit.layout.ContentPane" region="center" style="padding:0px" splitter="true">
 
	<div id="distanceDetails" style="">
	
	</div>
	  <table id="navToolbar"  style=" ">

	  <tr  >
		<!--
		<td style="cursor:pointer"  onClick="flashButton('aeiral');toggleBasemapAerial(); " >
		  <span  id="aeiral" title="Show Aerial Imagery 2008"   >
		    <img id="aeiralImg"  src="images/plane.png" style="cursor:pointer" />
		  </span> 
		</td>
		
		<td  style="cursor:pointer; " onClick="flashButton('printmap'); $('#printingDialog').dialog('open')">
		 <span  id="printmap" title="Print map"   >
		   <img src="images/print.png"  /> 
		  </span>
		</td>
		
		<td style="cursor:pointer"  onClick="flashButton('find'); displayLocationSearchTabContent(); " >
		  <span  id="find" title="Search Location"   >
		    <img src="images/Find.png" style="cursor:pointer" />
		  </span>
		</td>
		
		-->
		<td style="cursor:pointer"  onClick="flashButton('zoomfullext');navToolbar.zoomToFullExtent();">
		 
		  <span   id="zoomfullext" title="Full Extent"   style=" "  >
		    <img src="images/nav_fullextent.png" style="cursor:pointer" />
		  </span>
		</td>
				
		<td style="cursor:pointer"  onClick="navToolbar.deactivate() ;buttonPressed('measure');disconnectIdentifyHandler(); connectMeasurementHandler(); " >
		  <span  id="measure" title="Measurement Tool"   >
		    <img src="images/MeasureTool.png" style="cursor:pointer" />
		  </span>
		</td>
		
		<td style="cursor:pointer"  onClick="flashButton('zoomprev'); navToolbar.zoomToPrevExtent();">
		   <span   id="zoomprev" title="Previous Extent" style=" "  >
		    <img src="images/nav_previous.png" style="cursor:pointer" />
		  </span>
		</td>
		
		<td style="cursor:pointer" onClick="flashButton('zoomnext'); navToolbar.zoomToNextExtent();">
		 <span   id="zoomnext" title="Next Extent"  style=" " >
		    <img src="images/nav_next.png" style="cursor:pointer" />
		  </span>
		</td>

		<td  style="cursor:pointer;"  onClick="navToolbar.activate(esri.toolbars.Navigation.ZOOM_OUT);buttonPressed('zoomout');">
		  <span   id="zoomout" title="Zoom Out"  style=" "  >
		    <img src="images/nav_zoomout.png" style="cursor:pointer" />
		  </span>
		</td>
		
	    <td  style="cursor:pointer; " onClick="navToolbar.activate(esri.toolbars.Navigation.ZOOM_IN); buttonPressed('zoomin');">
		 <span  id="zoomin" title="Zoom In"   >
		   <img src="images/nav_zoomin.png"  /> 
		  </span>
		</td>
		
		<td style="cursor:pointer"  onClick="navToolbar.deactivate() ;buttonPressed('pan') ;  " >
		  <span  id="pan" title="Pan"   >
		    <img src="images/nav_pan.png" style="cursor:pointer" />
		  </span>
		</td>
		 
		
		<td style="cursor:pointer"   >
		  <span  id="IdentifyTool" title="Identify Tool"  onClick="navToolbar.deactivate() ;buttonPressed('IdentifyTool'); connectIdentifyHandler(); "  >
		    <img src="images/IdentifyTool.png" style="cursor:pointer" />
		  </span>
		</td>
	 
		<td style="cursor:pointer" onclick="navToolbar.deactivate() ; disconnectIdentifyHandler(); buttonPressed('selectbypolygon');drawbar.activate(esri.toolbars.Draw.POLYGON);"> 
			<span id="selectbypolygon" title="Select by Polygon">
				<img src="images/SelectionSelectPolygonTool.png" />
				
			</span>
		</td>
		
	  </tr>
	  </tbody>
	  </table>

      </div>
	
	    <script>
		 $(document).ready(function(){
			$("#printingDialog" ).dialog({autoOpen:false, resizable:false,zIndex:90} );
			
			$("#mapPrintingTitle").keypress(function(event){
					if(event.keyCode ==13){
						onPrintPDFClick();
					}
				});
				
		 });
		
	    </script>
		
    </div>
	 <div id="printingDialog" title="Map Printing">
		<b>Enter Map Title:</b></br>
		<input id="mapPrintingTitle" type="text" maxlength="15">
		<input type="button" value="Export PDF" onclick="onPrintPDFClick();">
		 
	  </div>
	<img id="loadingIcon" src="images/loading.gif" style="position:absolute;top:0px;left:0px;z-index:9999999; display:none;"/>
 
  </body>

</html>